<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Certus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Hi <span th:text="${name}"/>, </p>

<p>Thank you for submitting your KYC documents, you will receive further notification regarding the status of your KYC from <span th:text="${company}"/> via email within 5 work days.</p>

<p>Thank you,<br/>
    Certus Team<br/>
    please do not respond to this message. This is a system generated email.<br/>
</p>

</body>
</html>
